==
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <a href="http://alsvquintus.nl/"><img class="img-responsive" src="https://pbs.twimg.com/profile_images/3212039181/d55fe93d118bd8974fd2958f3f774aa8_400x400.png"></img></a>
        </div>
        <div class="col-lg-2">
            <a href="https://nl.linkedin.com/in/dave-de-jong-12a5a658"><img class="img-responsive" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/6/000/29f/172/0c6569e.jpg"></img></a>
        </div>
    </div>
</div>