description = "Bevat een element voor nieuwsbrief registratie"
==
<div class="container">
    <div class="row text-center">
            <h4 class="text-center">Blijf op de hoogte!</h2>
            <form action="//leidschegilden.us14.list-manage.com/subscribe/post?u=9ae478b6e6230e3d2e139ef0f&amp;id=3d73898ac2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline validate" target="_blank" novalidate>
                <p>
                <div class="form-group">
                	<input type="text" value="" name="VOORNAAM" class="required" id="mce-VOORNAAM" placeholder="Voornaam">
                </div>
                <div class="form-group">
                	<input type="text" value="" name="ACHTERNAAM" class="required" id="mce-ACHTERNAAM" placeholder="Achternaam">
                </div>
                <div class="form-group">
                	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
                </div>
                
                
            	<div id="mce-responses">
            		<div class="response" id="mce-error-response" style="display:none"></div>
            		<div class="response" id="mce-success-response" style="display:none"></div>
            	</div>
            	</p>
            	<p>
            	<button type="submit" value="Inschrijven" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">Inschrijven</button>
            	</p>
            </form>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='VOORNAAM';ftypes[1]='text';fnames[2]='ACHTERNAAM';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    </div>
</div>