==
<div class="container">
    <div class="row">
    <div class="col-md-6">
         <img src="{{"lanes/oppasser.jpg" | media}}" class="img-responsive img-circle" alt="Oppas"> 
    </div>
    <div class="col-md-6">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Oppas nodig?</h2>
            </div>
            <p>U heeft binnenkort een oppas nodig en wil uw kind(eren) met een gerust hart achter kunnen laten? Geen probleem, onze betrouwbare dames passen erg graag op!</p>
            <p>U kunt met onderstaand formulier uw opdracht indienen en daarbij ook eventuele bijzonderheden doorgeven. Wij nemen dan contact met u op om alles kort door te nemen. Vervolgens meldt de student zich dan op het door u opgegeven tijdstip, op het door u opgegeven adres.</p>
            <div class="text-center"> 
                <a href="/aanvraag" class="btn btn-lg btn-primary">Aanvragen</a>
            </div>
    </div>
    </div>
    
</div>