==
<div class="container">
    <div class="row">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Over ons</h2>
        </div>
        <p>
        In november 2016 heeft de Stichting Reünisten Quintus een enquête afgenomen onder de oud-leden van de Algemene Leidse Studenten Vereniging Quintus. Dit met doel om in kaart te brengen welke wensen oud-leden hebben bij de organisatie van evenementen voor reünisten.
        </p>
        <p>
        Hieruit bleek dat men tegen praktische bezwaren aanloopt als men deze evenementen wil bezoeken. Praktische bezwaren zoals het zoeken, vinden en regelen van een geschikte oppas voor de kinderen. Zodoende werd het idee geboren om jonge actieve leden als oppas voor de kinderen aan te bieden aan de oud-leden. De jonge actieve leden kunnen een leuk zakcentje bijverdienen en de oud-leden kunnen de kinderen met een gerust hart achterlaten.
        </p>
        <p>
        Dit idee is snel doorgegroeid, want al snel vormde zich een groep jongens die graag assisteren bij verhuizingen. Bovendien werd er besloten deze services niet alleen aan reünisten van de Algemene Leidse Studenten Vereniging Quintus aan te bieden, maar middels deze site kan iedereen opdrachten indienen!
        <p>
        <p>
            Ons belangrijkste wapenfeit: dit idee kan blijven groeien.
        </p>
        <p>
        De vereniging herbergt tal van kundige studenten die u graag van dienst zijn. Bent u bijvoorbeeld op zoek naar een (zakelijk) chauffeur? Heeft u snel een hulp nodig bij een vertaling, of heeft u snel een handige student nodig die kan helpen met uw website? Wij zoeken graag naar een oplossing en vinden voor u de juiste gegadigde. Ook bij een vlotte oplossing in uw personeelsbestand bij extra tijdelijke drukte of bij tijdelijke uitval van persoon, kunt u bij ons terecht. Wij vernemen dan graag van u!
        </p>
    </div>
</div>