==
<div class="container">
    <div class="row">
    <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Iets anders?</h2>
            </div>
        <h3>Het Leidsch Schone Dames Gilde</h3>
<p>Binnen de vereniging zorgden zij al voor extra allure bij besloten feesten en diners, maar in 2016 waren zij ook buiten de muren van de sociëteit actief. Van de opening van het ‘pop-up warenhuis’ in het oude pand van de V&D te Leiden, tot diners in De Meelfabriek of champagne schenkend bij beurzen in de RAI: Het Leidsch Schone Dames Gilde zorgde voor extra glans!</p>
<p>Heeft weldra een evenement waar de dames een rol kunnen spelen, zoals het aannemen van de jassen en het welkom heten van uw gasten, champagne of wijnen schenken, bemannen van de bar of het serveren bij diners? Het Leidsch Schone Dames Gilde vormt dé perfecte meerwaarde voor uw evenement. Neemt u gerust contact op aangaande de mogelijkheden.</p>

<h3>Student nodig?</h3>
<p>De vereniging herbergt tal van kundige studenten die u graag van dienst zijn. Bent u bijvoorbeeld op zoek naar een (zakelijk) chauffeur? Heeft u snel een hulp nodig bij een vertaling, of heeft u snel een handige student nodig die kan helpen met uw website? Wij zoeken graag naar een oplossing en vinden voor u de juiste gegadigde. Ook bij een vlotte oplossing in uw personeelsbestand bij extra tijdelijke drukte of bij tijdelijke uitval van persoon, kunt u bij ons terecht. Wij vernemen dan graag van u!</p>
<div class="text-center"> 
                <a href="/aanvraag" class="btn btn-lg btn-primary">Aanvragen</a>
            </div>
</div>
</div>