==
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Verhuizers nodig?</h2>
            </div>
            <p>
                U heeft binnenkort een verhuizing en kan daarvoor wel wat extra hulp gebruiken? Geen punt, onze studenten staan u graag bij. U bepaalt zelf hoeveel man u bestelt. De studenten melden zich dan op het door u opgegeven tijdstip, op de door u opgegeven locatie en zullen u bijstaan tot alles op zijn plek staat. Wij laten de studenten ofwel meerijden naar het nieuwe adres, of wij zorgen dat daar een andere ploeg de vorige ploeg aflost.
            </p>
            <p>
                U kunt met onderstaand formulier uw opdracht indienen en daarbij ook eventuele bijzonderheden doorgeven. Wij nemen dan contact met u op om alles kort door te nemen.
            </p>
            <div class="text-center"> 
                <a href="/aanvraag" class="btn btn-lg btn-primary">Aanvragen</a>
            </div>
        </div>
        <div class="col-md-6">
             <img src="{{"lanes/verhuizer.png" | media}}" class="img-responsive img-circle" alt="Verhuizer"> 
        </div>
    </div>
</div>